@using FaberController.Components.Nav
@inherits LayoutComponentBase

<div class="main">
    <Nav></Nav>
    @Body

    <img src="https://i.pinimg.com/736x/5d/ad/d1/5dadd192ba493c06d935c3ee046fdd72.jpg" style=" margin-left: 500px;">

</div>

